<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.volgoak.wordlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".WordsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.main.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".screens.training.TrainingActivity"
            android:parentActivityName=".screens.main.MainActivity" />
        <activity
            android:name=".screens.training.ResultActivity"
            android:parentActivityName=".screens.main.MainActivity" />
        <activity
            android:name=".screens.about.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.set.SetsActivity"
            android:label="@string/sets"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme" />
        <activity android:name=".screens.settings.SettingsActivity" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity android:name=".screens.dictionary.DictionaryActivity"></activity>
    </application>

</manifest>